$sticker-width: 80px;

.sticker {
  width: $sticker-width;
  height: $sticker-width;
  border: 5px solid #ffffff;
}

.cubeHolder {
  width: 3 * $sticker-width + 12;
  height: 3 * $sticker-width + 12;
}

.CubeFace__input {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  border: 0;
  text-align: center;
  font-size: 40px;
  font-weight: 900;
}

.CubeFace__input:focus {
  outline: none;
}

.cubeFaceRight {
}

.cubeFaceTop {
}

.cubeFaceCenter {
}
