.Cube__next {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);

  @include media-breakpoint-down(sm) {
    top: 24px;
  }
}

.Cube__previous {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);

  @include media-breakpoint-down(sm) {
    top: 24px;
  }
}

.Cube__instructions {
  font-size: 24px;
  background-color: #e0e0e0 !important;
  padding-left: 120px;
  padding-right: 120px;

  @include media-breakpoint-down(sm) {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.bigTooltip {
  max-width: 400px;
}
