.Cube__next {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);

  @include media-breakpoint-down(sm) {
    top: 24px;
  }
}

.Cube__previous {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);

  @include media-breakpoint-down(sm) {
    top: 24px;
  }
}
